
/* css generales tienen que estar en este archivo */

* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
    
  } 
  
  body {
    font-family: Arial, sans-serif; /* Define la fuente */
    background-color:#ebf2f6; /* Color de fondo suave */
    padding: 0px; 
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  header {
    background-color:#370e3f ;
    background-image: url(../inspiracion.jpg);
    opacity: 0.7;
    width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
    background-position:left ;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  header h1 {
    margin: 0;
    font-size: 2.5rem;
    cursor: pointer;
  }

  header h1 a{
    text-decoration: none;
    color: #fefefe;
    font-family: 'Playfair Display', serif; /* Elige la fuente que prefieras */
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra oscura que mejora la legibilidad */
    text-align: center;
    margin: 20px 0;
  }

  .filter-controls {
    background-color: #370e3f ;
    text-align: center;
  }

footer {
    max-width: 100%;
    background-color:#370e3f  ;
    padding: 20px;
    bottom: 0%;
    text-align: center;
    color: #E6E6FA;
    font-size: 1em;
    font-family: Arial, sans-serif;
  }
  #curious_fact{
    max-width: 100%;
    background:#c742c4;
    padding: 20px;
    text-align: center;
    color: rgb(244, 228, 244);
    font-size:1.5em;
    font-family: Arial, sans-serif;
  }
  h3{
    color: rgb(128, 75, 128);
    text-shadow: 2px 2px 5px rgb(246, 242, 242);
  }
  #curious_fact div{
    margin: 30px;
  }

  .hidden{
    display: none;
  }

  .apikey{
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
  }