  
  #cards_root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  #root>.detail-card {
    justify-content: left;
  }
  .card {
     margin: 10px;
     border: 2px solid #f3b1dc; /* Borde de la tarjeta */
     border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
     background:#efb6e2; /* Color de fondo de las tarjetas */
     text-align: left;
     flex: 1 0 calc(25% - 40px); /* Cada tarjeta ocupará un 40% del ancho del contenedor, menos el espacio del gap */
     box-sizing: border-box;
     max-width: calc(20% - 60px); /* Limitar el ancho máximo de cada tarjeta */
     display: flex;
     flex-wrap: wrap;
     list-style-type: none; /* Elimina los puntos de la lista */
     padding: 0; /* Elimina el padding */
     font-size: 1.1em;
     justify-content: space-between;
     overflow: hidden;
  }
   
  .card li.item {
        margin-bottom: 10px; /* Espaciado inferior entre ítems */
        font-size: 17px;
        text-align:center;
        color: rgb(44, 42, 59);
        width: 100%;
  }

  .card li.item:first-of-type{
    width: 100%;
    align-self: center;
    padding-top: 10px;
  }

  .card li.item img {
    margin-top: -15px;
    margin-left: -10px;
    height: 200px;
    width: 290px;
    object-fit: cover;
  }
  select{
    background-color: #fdfdfd;
    color: rgb(109, 106, 109);
    font-size: 1em;
    border-radius: 30px;

  } 
  label{
    margin:15px;
    color: #f3eded;
    font-size: 1em;
  }
  button{
    border-radius: 20px;
    margin:15px;
    padding: 10px;
    border: 1px solid #f3639d;
    color: #79103d;;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  /* Cambia el color de fondo cuando el cursor pasa por encima */
button:hover {
  background-color: #e586c5;
}
                 
  @media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px); /* 50% del ancho menos el espacio del gap */
        max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 600px) {
    .card {
        flex: 1 1 calc(100% - 40px); /* 100% del ancho menos el espacio del gap */
        max-width: calc(100% - 40px);
    }}
